/* Common Shared Styles */
body {
  font-family: "Open Sans", sans-serif;
}
.text_primary {
  color: #fd6e0a;
}
.btn_primary {
  background-color: #fd6e0a;
  border-radius: 5px;
  border: 0;
  color: white;
  font-weight: 700px;
  padding: 15px 18px;
}

/* Nav Related Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_tittle {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav li a {
  text-decoration: none;
  color: #474747;
}
