/* Common Shared Styles */
body {
  font-family: "Open Sans", sans-serif;
}
.text_primary {
  color: #fd6e0a;
}
.btn_primary {
  background-color: #fd6e0a;
  border-radius: 5px;
  border: 0;
  color: white;
  font-weight: 700px;
  padding: 15px 18px;
}


/* Nav Related Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.nav_tittle {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav li a {
  text-decoration: none;
  color: #474747;
}

/* Header Related Styles */
.header{
  background-color: #f4cbad;
}
.banner{
  padding: 30px 30px 30px 150px;
  background-color: aqua;
  display: flex;
  align-items: center;
}
.banner .profile_pic{
  width: 500px;
}
.banner_content{
  
}